/**
 * @file
 * Base open props imports.
 */

@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/*
  * Root variables. You're encouraged to change these as you see fit.
  * see https://open-props.style/ for more info.
  */

:root {
    --size-header-1: var(--size-content-3);
}

/* Refactoring - css nesting. */

slidez-presentation *+* {
    margin-top: 1.5em;
}

slidez-presentation li {
    text-align: start;
}

slidez-presentation img {
    margin: 1.5em auto 0 auto;
}

slidez-presentation nav {
    position: fixed;
    bottom: var(--size-5);
    right: var(--size-5);
}

slidez-presentation {
    display: grid;
}

slidez-presentation>* {
    grid-area: 1 / 1;
}

slidez-presentation slidez-slide {
    display: grid;
    place-items: center;
    place-self: center;
    gap: var(--size-3);
    text-align: center;
}

/* Example element transiton */
/* slidez-slide .views-field-title h1 {
    display: inline;
    view-transition-name: title;
} */