/**
 * @file
 * Base open props imports.
 */

@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/*
  * Root variables. You're encouraged to change these as you see fit.
  * see https://open-props.style/ for more info.
  */

:root {
    --size-header-1: var(--size-content-3);
}

/* Refactoring - scope rules to components, nest rules. */

body:not(.user-logged-in) *+* {
    margin-top: 1.5em;
}

/* Really this is <slidez-presentation> */
body:not(.user-logged-in) {
    display: grid;
}

body:not(.user-logged-in) li {
    text-align: start;
}

body:not(.user-logged-in) img {
    margin: 1.5em auto 0 auto;
}

body:not(.user-logged-in)>* {
    grid-area: 1 / 1;
}

body:not(.user-logged-in) .dialog-off-canvas-main-canvas {
    display: grid;
    place-items: center;
    place-self: center;
    gap: var(--size-3);
    text-align: center;
}

body:not(.user-logged-in) nav {
    position: fixed;
    bottom: var(--size-5);
    right: var(--size-5);
}